/*------------------------------*/
/*                              */
/*             base             */
/*                              */
/*------------------------------*/


* {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}

body {
    overflow-x: hidden;
}

a,
button {
    outline: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 50px 20px;
}

.text-center {
    display: flex;
    justify-content: center;
}

/*------------------------------*/
/*          button top          */
/*------------------------------*/

.scrollToTop {
    align-items: center;
    border-radius: 15px;
    bottom: 20px;
    display:flex;
    height: 40px;
    justify-content: center;
    opacity: 0;
    position: fixed;
    right: 20px;
    transition: all .3s ease-in-out;
    width: 40px;
    background-color: rgba(0, 0, 1, .25);
}
.showScrollTop {
    opacity: 1;

}

/*------------------------------*/
/*             typo             */
/*------------------------------*/

body,
input,
label, 
textarea {
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 2px 0 #000000;
}
h2 {
    font-size: 15px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}
h3 {
    font-size: 22px;
    line-height: 1.4em;
    text-shadow: 0px 4px 9px #000000;
}

p {
    font-size: 17px;
    text-align: center;
}

.icon-md {
    font-size: 30px;
}
.icon-lg {
    font-size: 60px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

/*------------------------------*/
/*            colors            */
/*------------------------------*/
a, a:hover, a:active {
    color: #000000;
}
h1 {
    color: #F3976C;
}
h1.contact {
    color: white;

}
h2 {
    color: #333333;
}

p {
    color: #000000;
}
p.contact {
    color: white;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}
.btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF;
}
.btn-atomic-tangerine:hover {
    background: #c27956;
    color: #FFFFFF;
}
.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
}

.icons {
    color: #808080;
}
.ltc-white {
    color: #FFFFFF;
}
.ltc-white:hover {
    color: #CCCCCC;
}
.ltc-atomic-tangerine {
    color: #F3976C;
}
.ltc-atomic-tangerine:hover {
    color: #C27956;
}
.social {
    color: #FFF;
}
.white {
    color: #FFFFFF;
}
.black-background {
    background-color: rgba(165, 147, 99, 1);
}

/*------------------------------*/
/*          background          */
/*------------------------------*/

.bg-dots-bg {
    background-image: url("./assets/dots-bg.png");
    background-repeat: repeat;
    background-position: center top;
}
.bg-lines-h2-bg {
    background-image: url("./assets/lines-h2-bg.png");
    background-repeat: repeat;
    background-position: center top;
}
.bg-banniere {
    background-image: url("./assets/background/la-chouette-agence-banniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.bg-presentation {
    background-image: url("./assets/background/image-de-presentation.bmp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/*------------------------------*/
/*            button            */
/*------------------------------*/

.btn-rd {
    border-radius: 40px;
}
.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}
.btn:hover {
    transform: scale(1.2);
}

.cta-hero {
    margin-top: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}

/*------------------------------*/
/*                              */
/*            header            */
/*                              */
/*------------------------------*/

#bloc-0 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    padding: 30px;
    position: relative;
}

/*------------------------------*/
/*            navbar            */
/*------------------------------*/

.navbar {
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-nav li a {
    border-radius: 25px;
    color: #000000;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.5s linear;
    transition: color 0.5s linear;
}
.navbar-nav li a:hover {
    color: #FFF;
    background-color:rgba(0, 0, 1, .25);
    border-radius: 25px;
}

#nav-toggle {
    bottom: -20px;
    left: 0;
    position: absolute;
}

/*
.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
}
.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 26px;
} */

/*------------------------------*/
/*                              */
/*             main             */
/*                              */
/*------------------------------*/

/*------------------------------*/
/*         presentation         */
/*------------------------------*/

.presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/*------------------------------*/
/*           services           */
/*------------------------------*/
.services {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.services-plot {
    font-size: 25px;
}
.services__list {
    margin: 50px 0;
}
.services__list h2 {
    margin: 25px;
}
.services__list-icon {
    display: flex;
}
.services__list-icon-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    width: 225px;
}


/*      citations       */
.services__citation {
    border-left: rgba(0, 0, 1, .25) solid 3px;
    display: flex;
    justify-content: center;
}

.citation {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.citation__text {
    color:rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-weight: 600;
    font-style: italic;
}

figure {
    margin: 0;
    padding: 0 20px;
}


/*       about us       */
.about-us {
    max-width: 800px;
}
.about-us-wanted {
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    margin: 15px;
    font-size: 25px;
}
.black-background {
    padding: 40px;
}

/*       portfolio       */
.portfolio p {
    font-size: 25px;
}
.portfolio-row {
    display: flex;
    justify-content: center;
}
.portfolio-row-box {
    max-width: 300px;
    margin: 25px;
}
.portfolio-row-box p {
    font-size: 17px;
    margin-top: 15px;
}
.portfolio-thumb {
    margin-bottom: 24px;
}

article img {
    box-sizing: border-box;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    transition: transform 0.25s linear;
    display: flex;
}
article img:hover {
    transform: scale(1.05);
    transition: transform 0.25s linear;
}

/*------------------------------*/
/*            contact           */
/*------------------------------*/

.contact-us {
    font-size: 25px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}




/*------------------------------*/
/*            contact           */
/*------------------------------*/

/*            talking           */

.talking {
    height: 400px;
}

/*          formulaire          */
.formulaire,
.formulaire-button {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto ;
}

.formulaire label {
    font-weight: bold;
}
.formulaire input,
.formulaire textarea {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 1.5em;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input:required,
textarea:required {
    background-color: rgba(0, 0, 1, .05);
}

/*------------------------------*/
/*                              */
/*            footer            */
/*                              */
/*------------------------------*/
footer {
    padding: 25px;
}

.social {
    max-width: 400px;
    margin: 15px;
}
footer,
.social {
    display: flex;
    justify-content: center;
}


/* media quieries */

/* header */


/* // utile que en desktop // */
/* 
@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {
        color: #484848;
    }
    .nav-invert .site-navigation {
        left: 0;
        right: 0;
    }
    .nav-center {
        text-align: center;
    }
    .nav-center .navbar-header {
        width: 100%;
    }
    .nav-center .navbar-header,
    .nav-center .navbar-brand,
    .nav-center .nav > li {
        float: none;
        display: inline-block;
    }
    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0px;
        margin-top: 20px;
    }
    .nav-center.mini-nav .navbar-toggle {
        float: none;
        margin: 10px auto 0;
    }
} */
/* @media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }
    .bloc {
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    }
    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding: 0 20px;
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    }
}

@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    #disqus_thread {
        padding-left: 10px;
        padding-right: 10px;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none;
    }
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8);
    }
    #hero-bloc .navbar .nav a {
        color: rgba(255, 255, 255, .6);
    }
    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }
    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 40px 0;
    }
    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-tile-2 .container,
    .bloc-tile-3 .container,
    .bloc-tile-4 .container,
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-left: 0;
        padding-right: 0;
    }
    .a-block {
        padding: 0 10px;
    }
    .btn-dwn {
        display: none;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }
    .voffset-lg {
        margin-top: 30px;
    }
    form {
        padding: 5px;
    }
    .close-lightbox {
        display: inline-block;
    }
    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
    }
    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px;
    }
}

@media (max-width: 400px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .bloc-mob-center-text {
        text-align: center;
    }
} */